antiorm==1.2.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
db==0.1.1
db-sqlite3==0.0.1
Flask==3.0.3
Flask-Cors==5.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mininet==2.3.0.dev6
ovs==3.4.0
requests==2.32.3
setuptools==75.2.0
sortedcontainers==2.4.0
urllib3==2.2.3
Werkzeug==3.0.4
